:root{
    --customized-theme-color: #8F96AE;
    --customized-light-color: #DCDDED;
    --customized-heavy-color: #5D647C;
}



.bg-primary {
    background-color: var(--customized-theme-color) !important;
}
.text-primary {
    color: var(--customized-theme-color) !important;
}

a {
    color:var(--customized-theme-color);
}
a:hover, a:focus, a:active {
    color: var(--customized-heavy-color);
}
#sideNav .navbar-toggler:focus {
    outline-color: var(--customized-light-color);
}
.social-icons a:hover {
    background-color: var(--customized-theme-color);
}
.dev-icons .list-inline-item i:hover {
    color: var(--customized-theme-color);
}