body {
    position: relative;
}
#guide-container {
    font-family: 'Saira Extra Condensed',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';    color: #343a40;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 90vw;
    height: 90vh;
    top: 5vh;
    left: 5vw;

    background-color: var(--customized-light-color);
    border: 5px var(--customized-theme-color) double;
    opacity: 0.9;
    z-index: 1500!important;

}

.guide-div {
    font-family: inherit;
    width: fit-content;
    height: fit-content;
    margin: auto;
    text-align: justify;
    font-size: 140%;

}

.button-right-corner{
    position:absolute;
    right: 0;
    bottom: 0;
}

#maximize-button {
    position: fixed;
    top: 0;
    right: 100px;
    display: none;
    font-size: 200%;
    margin-top: 0;
    /*border-top:none;*/
    /*background-color: var(--customized-theme-color);*/
    /*color: white;*/
    /*font-family: inherit;*/
}
#maximize-button:hover{
    font-size: 250%;
    border-top:none;
}

.guide-highlight{
    color: var(--customized-theme-color);
    text-decoration: underline;
}

.guide-highlight:hover {
    color: var(--customized-heavy-color);
}